# Application
public/wp-content/plugins/*
!public/wp-content/plugins/.gitkeep
public/wp-content/mu-plugins/*/
!public/wp-content/mu-plugins/bedrock-autoloader.php
public/wp-content/themes/twenty*/
public/wp-content/upgrade
public/wp-content/uploads/*
!public/wp-content/uploads/.gitkeep
public/wp-content/cache/*
public/wp-content/languages/*
!public/wp-content/languages/.gitkeep
*.sql
*.zip
*.gz

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# OS
.DS_Store

*-bak
